<section class="Educacion">
    <div class="estudios">
        <h3>Estudios Formales</h3>
        <ol>
            <li><b>Estudios Primarios: </b>{{miPortfolio.Estudios.primarios}}</li>
            <li><b>Estudios Secundarios: </b>{{miPortfolio.Estudios.Secundarios}}</li>
        </ol>
    </div>

    <div class="estudios">
        <h3>Educación complementaria</h3>
        <ol>
            <li>{{miPortfolio.EstudiosComplementarios.a}}</li>
            <li>{{miPortfolio.EstudiosComplementarios.b}}</li>
            <li>{{miPortfolio.EstudiosComplementarios.c}}</li>
            <li>{{miPortfolio.EstudiosComplementarios.d}}</li>
        </ol>
    </div>
</section>
